aside {
  position: fixed;
  z-index: 99999;
  width: 100%;
  top: 0;
}

.menu-btn {
  width: 100%;
  position: absolute;
  z-index: 3;
  right: 0;
  top: 0;

  cursor: pointer;
  /* transition: all 0.5s ease-out; */
  background-color: #3a3c55;
  padding: 1.15rem;
  border: 0;
  /* border-radius: 50%; */
  box-shadow: 0 5px 20px -10px #222121;
}

.menu-btn .btn-line {
  width: 28px;
  height: 3px;
  margin: 0 0 5px;
  background: #fff;
  transition: all 0.5s ease-out;
}
.menu-btn .btn-line:last-child {
  margin: 0;
}
.menu-btn.close {
  /* transform: rotate(180deg); */
  background-color: #0a0a22;
}
.menu-btn.close .btn-line:first-child {
  transform: rotate(45deg) translate(5px, 5px);
}
.menu-btn.close .btn-line:nth-child(2) {
  opacity: 0;
}
.menu-btn.close .btn-line:nth-child(3) {
  transform: rotate(-45deg) translate(7px, -6px);
}
.menu {
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0.96;
  visibility: hidden;
}
.menu.show {
  visibility: visible;
}
.menu-branding {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}
.menu-branding,
.menu-nav {
  float: left;
  width: 50%;
  height: 100vh;
  overflow: hidden;
}
.menu-nav {
  background: #0a0a22;
  transform: translate3d(0, -100%, 0);
  transition: all 0.5s ease-out;
  font-weight: bolder;
  line-height: 1.22;
}
.menu-nav .icons {
  padding: 0 1.5rem;
}

@media screen and (min-width: 768px) {
  .menu-nav .icons {
    padding: 3rem 1.5rem;
  }
}

.menu-nav,
.menu-nav ul {
  margin: 0;
  list-style: none;
}
.menu-nav ul {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80%;
}
.menu-nav .icons {
  position: absolute;
  bottom: 10vh;
  text-align: center;
  width: 100%;
}
.menu-nav .icons a {
  padding: 0.75rem;
  font-size: 1rem;
  color: #888;
}

.menu-nav .icons a:hover {
  color: #fff;
}
.menu-nav.show {
  transform: translateZ(0);
}
.menu-branding {
  background: #303146;
  transform: translate3d(0, 100%, 0);
  transition: all 0.5s ease-out;
}
.menu-branding.show {
  transform: translateZ(0);
}
.menu-branding .portrait {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 3px solid #94c85a;
}
.menu .nav-item {
  transform: translate3d(600px, 0, 0);
  transition: all 0.5s ease-out;
}
.menu .nav-item.show {
  transform: translateZ(0);
}
.menu .nav-item a.current {
  color: #94c85a;
}

.menu .nav-link {
  display: inline-block;
  position: relative;
  font-size: 1.25rem;
  text-transform: uppercase;
  padding: 0.5rem 0;
  color: #fff;
  text-decoration: none;
  transition: all 0.5s ease-out;
}

@media screen and (min-width: 500px) {
  .menu .nav-link {
    font-size: 1.55rem;
  }
}

.menu .nav-link:hover {
  color: #94c85a;
}
.nav-item:first-child {
  transition-delay: 0.1s;
}
.nav-item:nth-child(2) {
  transition-delay: 0.2s;
}
.nav-item:nth-child(3) {
  transition-delay: 0.3s;
}
.nav-item:nth-child(4) {
  transition-delay: 0.4s;
}
@media screen and (max-width: 768px) {
  .menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0;
  }
  .menu-nav.show,
  div.menu-branding.show {
    transform: translateZ(0);
  }
  .menu-nav {
    height: 65vh;
    transform: translate3d(-100%, 0, 0);
    font-size: 24px;
  }
  .menu-branding {
    height: 33vh;
    transform: translate3d(100%, 0, 0);
  }
  .menu-branding .portrait {
    width: 150px;
    height: 150px;
    margin: 1rem 0;
  }
}
@media screen and (max-width: 500px) {
  .menu-nav .icons a i {
    font-size: 2rem;
  }
}
