body {
  background-color: #efefef;
}

main {
  background-color: #efefef;
}

main nav {
  margin-top: 3.25rem;
}

.main--home {
  background-color: #3a3c55;
  height: 100vh;
}
header {
  background-color: #1b1c28;
  padding: 1.5rem 0;
  color: #fff;
}

.home--header {
  margin-top: 3rem;
  padding-top: 2rem;
  text-align: center;
}

a:hover {
  text-decoration: none;
}
