@import url("https://fonts.googleapis.com/css?family=Russo+One");

main {
  line-height: 22px;
  font-family: Helvetica Neue, Helvetica, sans-serif;
}
.main--markdown,
.main--markdown main {
  background-color: #001935;
}
img {
  width: 100%;
}

.modal-bar {
  padding-top: 80px;
}

.posts {
  padding-top: 15px;
}

.media {
  padding-bottom: 30px;
}

.created-blog {
  word-wrap: break-word;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
